.modal {
  position: absolute;
  display: flex;
  width: 1280px;
  height: 720px;
  left: 0;
  top: 0;
  background: #000;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.modal__container {
  background-color: #fff;
  color: #000;
  position: absolute;
  width: 430px;
  height: 330px;
  top: 195px;
  left: 425px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  border: none;
}

.modal__container-title {
  left: 36px;
  top: 34px;
  width: 330px;
  height: 23px;
  position: absolute;
  margin: 0;
  padding: 0;
}

.modal__container__close {
  background-image: url("../images/Close-Icon.png");
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  right: -48px;
  top: -48px;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.modal__form {
  top: 111px;
  position: relative;
  width: 358px;
  height: 14px;
  margin: 0;
  padding: 0;
}

.modal__fieldset {
  display: relative;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  margin-left: 36px;
}

.modal__input {
  border: none;
}

.modal__underline {
  color: #000;
  position: absolute;
  width: 358px;
  height: 0px;
  opacity: 0.2;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
  margin-top: 13.3px;
}

.modal__save-button {
  position: absolute;
  width: 358px;
  height: 50.15px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  margin-left: 35px;
  margin-top: 48px;
  bottom: 35px;
}

@media screen and (max-width: 380px) {
  .modal {
    overflow: hidden;
    max-width: 380px;
  }

  .modal__container {
    position: relative;
    top: 123px;
    left: 19px;
    width: 282px;
    height: 322px;
  }

  .modal__save-button {
    width: 238px;
  }
}
