.modal {
  position: fixed;
  display: flex;
  visibility: hidden;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0s ease-in-out visibility 0.5s linear;
  justify-content: center;
  z-index: 999;
}

.modal_opened {
  visibility: visible;
  justify-content: center;
}

.modal__container {
  position: relative;
  background-color: #fff;
  color: #000;
  width: 430px;
  max-width: 430px;
  max-height: 330px;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  border: none;
}

.modal__container-title {
  width: 330px;
  height: 23px;
  margin: 0;
  padding: 0;
  margin-top: 34px;
  margin-left: 36px;
}

.modal__container-close {
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-image: url("../images/Close-Icon.png");
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  top: -40px;
  right: -40px;
}

.modal__image-close {
  position: absolute;
  display: flex;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-image: url("../images/Close-Icon.png");
  margin: 0;
  padding: 0;
  right: 425px;
  top: 160px;
  height: 40px;
  width: 40px;
  z-index: 120;
}

.modal__container-close:hover {
  opacity: 0.6;
}

.modal__form {
  top: 111px;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 430px;
  max-height: 330px;
  height: 330px;
}

.modal__input {
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 36px;
  width: calc(100% - 72px);
}

.modal__input:first-of-type {
  margin-top: 54px;
}

.modal__underline {
  color: #000;
  width: 358px;
  height: 0px;
  opacity: 0.2;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
  margin-top: 13.3px;
  margin-left: 36px;
  margin-bottom: 30px;
}

.modal__save-button {
  width: 358px;
  height: 50.15px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  transition: opacity 1s ease;
  bottom: 230px;
  margin-left: 36px;
  margin-bottom: 36.5px;
}

.modal__save-button:hover {
  opacity: 0.8;
}

.modal_image_enlarge img {
  min-height: 55vh;
  min-width: 50vw;
  max-height: 55vh;
  max-width: 75vw;
  z-index: 110;
}

.modal__image-caption {
  margin: 0;
  padding: 0;
  position: relative;
  top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 380px) {
  .modal {
    overflow: hidden;
    max-width: 380px;
    display: flex;
  }

  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__input {
    margin-left: 22px;
  }

  .modal__container-title {
    height: 22px;
    width: 238px;
    padding-top: 25px;
  }

  .modal__input:first-of-type {
    margin-top: 75px;
  }

  .modal__save-button {
    width: 238px;
    margin-left: 22px;
    height: 46px;
  }

  .modal__container-close {
    right: 0;
    height: 26px;
    width: 26px;
  }

  .modal__underline {
    width: 238px;
    margin-left: 22px;
    margin-bottom: 20px;
  }
}
